@charset "utf-8";

*,
::before,
::after {
  /* 余白の設定をリセット　*/
  padding: 0;
  margin: 0;
  /* 要素サイズにpaddingとborderを含める */
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
}

.main{
  padding-top: 70px;
}

.main h2{
  margin: 0 auto;
  width: 20%;
  text-align: center;
  margin-bottom: 20px;
}

.main h2 .line{
  border-bottom: double 5px rgb(100, 116, 85);
}

.main div p{
  overflow-wrap: break-word;
  text-indent: 1em;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
}

.header{
  width: 100%;
  position: fixed;
  background-color: rgb(177, 189, 166);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  /* margin: 0;
  padding: 0; */
}

header h1 a{
  color: rgb(0, 0, 0);
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.title {
  /* ロゴの幅を指定できるように */
  margin-top: 0;
  margin-left: 30px;
  display: block;
  width: auto;
}

.site-menu{
  justify-content: flex-end;
  margin-top: 13px;
}

.site-menu li{
  margin-left: 10px;
  margin-right: 10px;
}

.site-menu li a{
  color: rgb(26, 13, 3);
}

ul{
  display: flex;
  justify-content: flex-end;
}

ul.list-vertical {
  display: block; /* 縦並びリストの親要素をブロック要素として表示 */
}

ul.list-vertical li {
  display: block; /* リスト項目をブロック要素として表示 */
  margin-bottom: 5px; /* 各リスト項目の間にスペースを追加 */
}

ul.list-vertical li h3 {
  margin-left: 15%; /* タイトルを左に20pxの空白を追加 */
  text-align: left; /* タイトルを左揃えに設定 */ 
  font-size: 24px;
}

@media screen and (max-width: 1000px) {
  ul.list-vertical li h3 {
    font-size: 15px; /* 1000px以下の画面サイズの場合、タイトルの大きさを小さくする　*/
  }
  ul.list-vertical li p {
    font-size: 20px; /* 1000px以下の画面サイズの場合、説明文の大きさを小さくする（例：14px） */
  }
}

h2{
  font-size: 8vw;
}

li{
  /* display: inline; */
  list-style: none;
  margin-left: 2px;
  margin-right: 2px;
}

.header-img{
  display: block;
  width: 20px;
  height: auto;
  padding-left: 5px;
}

.menu-button{
  display: none;
}

@media (max-width: 1000px) {
  /* 右上の目次をハンバーガーメニューにする */
  .header .site-menu ul {
    display: block;
  }
  .header {/*メニューを上部に固定*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    z-index: 10;
    /*ヘッダーに影をつける*/
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  .header .site-menu {
    position: absolute;
    top: 100%;
    color: #ffffff;
    background-color: rgb(100, 116, 85);
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 0px;
    display: none;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .main{
    padding-top: 140px;
  }

  .header .site-menu ul{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  /* ここまで */
  h1{
    width: 500px;
    font-size: 9vw;
  }
  .header-img{
    display: block;
    width: 10vw;
    height: auto;
    padding-left: 5px;
  }
  .site-menu a{
    font-size: 4vw;
    text-align: center;
  }
  .site-menu li{
    display: flex;
    justify-content: space-around;
  }

  .menu-button{
    display: block;
    width: 15vw;
    height: 15vw;
    cursor: pointer;
    margin: 0;
    left: 0;
    position: relative;
  }
  .menu-button span{
    display: block;
    margin: 0;
    border: none;
    width: 50%;
    height: 6%;
    background: #000;
    transform-origin:0% 50%;
    position: absolute;
    top: 23%;
    left: 25%;
    transition: .3s;
  }
  .menu-button span:nth-of-type(2){
    top: 41%;
  }
  .menu-button span:nth-of-type(3){
    top: 60%;
  }
  .close-button span{
    left: 30%;        
  } 
  .close-button span:nth-of-type(1){
    transform: rotate(45deg);
    width: 52%;
  }
  .close-button span:nth-of-type(2){
    opacity: 0;
  }
  .close-button span:nth-of-type(3){
    top: 60%;
    transform: rotate(-45deg);
    width: 52%;
  }
}

.pagetop{
  display: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.footer {
  color: #ffffff;
  background-color: #24211b;
  padding-top: 30px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .site-menu li{
  margin-left: 10px;
  margin-right: 10px;
}

.footer .site-menu li a{
  color: white;
}

.footer-logo {
  display: block;
  width: 235px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.footer-logo img{
  height: 150px;
  width: auto;
}

.copyright {
  font-size: 14pt;
  font-weight: bold;
  margin-top: 10px;
}